<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded mt-20"></footer>
    <div class="grid grid-flow-col gap-4">
        <a href="/about" class="link link-hover">About us</a>
        <a href="/contact" class="link link-hover">Contact</a>
        <a href="/tours" class="link link-hover">Tours</a>
        <a href="/destinations" class="link link-hover">Destinations</a>
    </div>
    <div>
        <div class="grid grid-flow-col gap-4">
            <a class="text-2xl hover:text-primary transition-colors cursor-pointer">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="text-2xl hover:text-primary transition-colors cursor-pointer">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="text-2xl hover:text-primary transition-colors cursor-pointer">
                <i class="fab fa-facebook"></i>
            </a>
            <a class="text-2xl hover:text-primary transition-colors cursor-pointer">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
    <div>
        <p>Copyright © 2024 - All rights reserved by Travel Explorer</p>
    </div>
</footer>